.dialog {
  width: calc(100vw - 48px);
  max-width: 500px;
  max-height: calc(100% - 48px);
  height: 280px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  border: 0px;
  padding: 24px;

  &::backdrop {
    background-color: rgba(43, 62, 80, 0.64);
  }
}
