.menu {
  overflow: auto;
  &_button {
    width: 40px;
    height: 40px;
    border: 0;
    position: fixed;
    top: 43px;
    right: 48px;
    display: block;
    padding: 8px 4px;
    border-radius: 4px;
    z-index: 102;
    background-color: #5081b1;
    cursor: pointer;
    &__red {
      background-color: #b15050;
    }
    &_line {
      display: block;
      width: 24px;
      height: 4px;
      background-color: #fff;
      position: absolute;
      left: 8px;
      &:nth-child(1) {
        top: 10px;
      }
      &:nth-child(2) {
        top: 18px;
      }
      &:nth-child(3) {
        bottom: 10px;
      }
    }
    &.is-active &_line {
      &:nth-child(1) {
        transform: rotate(45deg);
        margin-top: 8px;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        margin-bottom: 8px;
      }
    }
  }

  &_content {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    padding: 128px 24px 0;
    color: #fff;
    background-color: rgba(35, 35, 35, 0.8);
    z-index: 101;
    overflow-y: auto;
  }
  &_list {
    position: relative;
    padding-bottom: 32px;
    border-top: solid 1px #818181;
    &_item {
      height: 128px;
      font-size: 32px;
      font-weight: bold;
      border-bottom: solid 1px #818181;
      a {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }
  &.is-show-dialog &_content {
    display: block;
  }
}
