.menu {
  overflow: auto;
}
.menu_button {
  width: 40px;
  height: 40px;
  border: 0;
  position: fixed;
  top: 43px;
  right: 48px;
  display: block;
  padding: 8px 4px;
  border-radius: 4px;
  z-index: 102;
  background-color: #5081b1;
  cursor: pointer;
}
.menu_button__red {
  background-color: #b15050;
}
.menu_button_line {
  display: block;
  width: 24px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  left: 8px;
}
.menu_button_line:nth-child(1) {
  top: 10px;
}
.menu_button_line:nth-child(2) {
  top: 18px;
}
.menu_button_line:nth-child(3) {
  bottom: 10px;
}
.menu_button.is-active .menu_button_line:nth-child(1) {
  transform: rotate(45deg);
  margin-top: 8px;
}
.menu_button.is-active .menu_button_line:nth-child(2) {
  opacity: 0;
}
.menu_button.is-active .menu_button_line:nth-child(3) {
  transform: rotate(-45deg);
  margin-bottom: 8px;
}
.menu_content {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  padding: 128px 24px 0;
  color: #fff;
  background-color: rgba(35, 35, 35, 0.8);
  z-index: 101;
  overflow-y: auto;
}
.menu_list {
  position: relative;
  padding-bottom: 32px;
  border-top: solid 1px #818181;
}
.menu_list_item {
  height: 128px;
  font-size: 32px;
  font-weight: bold;
  border-bottom: solid 1px #818181;
}
.menu_list_item a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.menu.is-show-dialog .menu_content {
  display: block;
}/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  z-index: 200;
}
.modal.is-show-dialog {
  display: block;
}
.modal_overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(35, 35, 35, 0.8);
}
.modal_wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  width: calc(100% - 48px);
  height: auto;
  padding: 32px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}
.modal_wrapper.is-show {
  display: block;
  pointer-events: auto;
}
.modal_close {
  position: absolute;
  top: -40px;
  right: 0;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 0;
  color: #fff;
  padding: 4px;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}
.modal_close__red {
  background-color: #b15050;
}
.modal_content {
  width: calc(100vw - 48px);
  max-width: 500px;
  max-height: calc(100% - 48px);
  height: 280px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
}
.modal_content_text {
  height: 100%;
  width: 100%;
  padding: 24px;
  overflow-y: auto;
}
.modal_content_dummySpace {
  display: block;
  width: 100%;
  height: 40%;
}