* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  font-size: 22px;
  margin-bottom: 16px;
}

html {
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;
}

body {
  padding: 136px 0 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
  background: #bec7d0;
}
body.is-fixed-scroll {
  overflow: hidden;
}
body.red {
  background: #d0bebe;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
}

.header {
  position: fixed;
  top: 24px;
  left: 20px;
  width: calc(100% - 40px);
  height: 80px;
  z-index: 100;
}
.header_wrapper {
  width: 100%;
  height: 100%;
  padding: 0 24px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  position: relative;
}
.header_heading {
  font-size: 22px;
  font-weight: bold;
}

.footer {
  padding: 24px;
  background-color: #2c3e50;
  color: #fff;
}
.footer__red {
  background-color: #502c2c;
}
.footer_link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer_link_item {
  margin-right: 20px;
}
.footer_link_item:last-child {
  margin-right: 0;
}
.footer_link a {
  text-decoration: underline;
}

.button {
  font-weight: bold;
  cursor: pointer;
  background: #5081b1;
  color: #fff;
  padding: 16px;
  width: 200px;
  border-radius: 50px;
  position: relative;
  border: 0;
  font-size: 18px;
}
.button__red {
  background: #b15050;
}

.dummySection {
  margin-top: 56px;
  min-height: 130vh;
}

.dummyText {
  width: 100%;
  height: 15px;
  margin-bottom: 8px;
  display: block;
  background: #a1b3be;
  border-radius: 3px;
}
.dummyText__red {
  background: #bea1a1;
}
.dummyText__verticalLarge {
  width: 60%;
  height: 32px;
  margin-bottom: 16px;
}
.dummyText__narrow {
  width: 70%;
  margin-bottom: 40px;
}