.dialog {
  width: calc(100vw - 48px);
  max-width: 500px;
  max-height: calc(100% - 48px);
  height: 280px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 16px;
  border: 0;
  padding: 24px;
  --duration: 0.3s;
  --scale: 0.6;
  opacity: 0;
  scale: var(--scale);
  transition: all var(--duration) allow-discrete;
}
.dialog[open] {
  opacity: 1;
  scale: 1;
}
@starting-style {
  .dialog[open] {
    opacity: 0;
    scale: var(--scale);
  }
}
.dialog::backdrop {
  background-color: rgba(43, 62, 80, 0.64);
  opacity: 0;
  transition: all var(--duration) allow-discrete;
}
.dialog[open]::backdrop {
  opacity: 1;
}
@starting-style {
  .dialog[open]::backdrop {
    opacity: 0;
  }
}